<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:0px;">
  <% include ./partials/_header %>

<div>
<% if(userlist[user_Id] === undefined){ %>

<div>
  <h1>Welcome to tinyApp</h1>
  <p>The pinnacle of URL shortening web applications on the web today!</p>

  <p>Please log in or register to enjoy functionality!</p>
</div>

<%} else { %>
  <h2>tinyApp URLS for <%= userlist[user_Id].email %>:

  <% for (let entry in urls) { if (urls[entry].userID === user_Id) {%>

<div style="background-color: #ededed; width: 80%; position: center; border-radius: 8px; margin: 10px auto; ">
<div class="container" style="text-align: center; ">
  <div class="row" style="display : flex; flex-direction: row; align-items : center;">
  <div class="col-2">
      <a href="urls/<%= entry %>"><%= entry %></a>
    </div>
    <div class="col-6">
      <a style="overflow: hidden;" href="<%= urls[entry].longURL %>"><%= urls[entry].longURL %></a>
    </div>
    <div class="col-2">
      <a href="urls/<%= entry %>">Edit</a>
    </div>
    <div class="col-2">
      <form method="POST" action="/urls/<%= entry %>/delete">
      <button type="submit" class="btn-danger" style=" border-radius: 10px;">DELETE</button>
    </form>
    </div>
  </div>
</div>
</div>

<% }}}%>



</body>
</html>
