<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./stylesheet.css">
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
    <h2>URLS</h2>

<%= shortURL %>: <a href="<%= fullURL %>"><%= fullURL %></a></li>
<form name="newURL" method="POST"  action="/urls/<%= shortURL %>">

        <label for="newURL">Update URL:</label>
        <input type="text" value="<%= fullURL %>" name="newURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" >Update</button>
</form>

</body>
</html>